Source: ior
Maintainer: DAOS <daos@daos.io>
Uploaders: Brian J. Murrell <brian.murrell@intel.com>
Section: devel
Priority: optional
Build-Depends: debhelper-compat (= 12),
               pkg-config,
               libhwloc-dev,
               libevent-dev,
               unzip,
               autoconf, automake,
               libdaos-dev,
               libmpich-dev,
               libhdf5-mpich-dev
Standards-Version: 4.4.1.0
Vcs-Browser: https://github.com/hpc/ior
Vcs-Git: https://github.com/hpc/ior.git
Homepage: https://github.com/hpc/ior.git

Package: ior
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description:IOR-HPC
